<div class="left-sidebar">
	<div class="brands_products">
		<h2>Danh Mục</h2>
		<div class="brands-name">
			<vc:categories></vc:categories>
		</div>
	</div>

	<hr />

	<div class="brands_products">
		<h2>Thương Hiệu</h2>
		<div class="brands-name">
			<vc:brands></vc:brands>
		</div>
	</div>
</div>