@using NguyenManhDuc.WebApp.Models
@model ProductColorModel
@{
    ViewData["Title"] = "Thêm số lượng màu sắc";
    var colors = ViewBag.Colors as List<ColorModel>;
    var productId = ViewBag.ProductId;
}

<form asp-action="AddColorQuantity" method="post">
    @Html.AntiForgeryToken()

    <input type="hidden" name="ProductId" value="@productId" />

    <div class="form-group">
        <label>Màu Sắc</label>
        <select asp-for="ColorId" class="form-control" asp-items="@(new SelectList(colors, "Id", "Color"))">
            <option value="">-- Chọn màu --</option>
        </select>
        <span asp-validation-for="ColorId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Số Lượng</label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-warning btn-sm">Thêm</button>
        <a asp-action="ManageColorQuantity" asp-route-id="@productId" class="btn btn-warning btn-sm">Quay lại</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}